@font-face {
  font-family: "Lato";
  src: url("../assets/Lato-Regular.ttf");
}

html,
body {
  font-family: "Lato", sans-serif;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.tabs {
  display: flex;
  justify-content: space-around;
}

h1,
form {
  text-align: center;
}

.welcome-text {
  max-width: 780px;
  margin: auto;
  left: 50%;
  width: 90%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
