{% extends "base.html" %}

{% block title %}Web Scraper Project{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for("static", filename="css/home.css")}}">
{% endblock %}

{% block content %}

    <h1>Job Tracker</h1>

    <form method="post" enctype="multipart/form-data">
            <input id="fileinput" class="btn btn-light" type="file" name="file" accept=".csv">
            <label for="file"></label>

        <input class="btn btn-primary" type="submit" value="Submit">

    </form>

    {% if jobs %}


        <div class="list-group">
            {% for job in jobs %}
                <li class="list-group-item list-group-item-action flex-column align-items-start no-select" onclick="changeStatus(event)">

                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ job.id }}. <a href="{{ url_for("job_page", job_id=job.id) }}">{{ job.title }}</a> ~ <small>{{ job.company_name }}</small></h5>
                        <small class="status">status...</small>
                    </div>
                    <small><a href="{{ job.application_link }}">Apply: </a></small>
                    <small>{{ job.application_details }}</small>
                    <p>{{ job.job_description[:100] }}...</p>
                </li>


            {% endfor %}
        </div>


    {% endif %}

    {% block stripts %}
   <script src="{{ url_for("static", filename="js/home.js") }}"></script>

    {% endblock %}

{% endblock %}
