{% extends "base.html" %}

{% block title %}Web Scraper Project{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for("static", filename="css/home.css")}}">
{% endblock %}

{% block content %}

    <h1>Job Tracker</h1>

    <form method="post" enctype="multipart/form-data">
            <input id="fileinput" class="btn btn-light" type="file" name="file" accept=".json">
            <label for="file"></label>

        <input class="btn btn-info" type="submit" value="Submit">
    </form>

        {{ super() }}


        {% if not jobs %}

            <div class="welcome-text">
                <h2>Welcome to My Job Tracking Website!</h2>
                <p>Are you tired of endlessly scrolling through job listings, trying to find the perfect opportunity? Look no further! My job tracking website makes it easy to find and save job listings that match your search criteria.</p>
                <p>To get started, simply head over to my GitHub repository and follow the instructions to scrape job listings based on your search query. Once you've done that, you should have a handy <code>jobs.json</code> file that you can easily upload onto our website to start tracking your job applications.</p>
                <p>My website lets you organize your job listings and keep track of your progress with each application. Say goodbye to the chaos of the job search and hello to your dream career. Try it out today!</p>

            </div>

        {% endif %}



    {% block scripts %}
   <script src="{{ url_for("static", filename="js/home.js") }}"></script>

    {% endblock %}

{% endblock %}
