{% extends "base.html" %}

{% block title %}Web Scraper Project{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for("static", filename="css/home.css")}}">
{% endblock %}

{% block content %}

    <h1>Job Tracker</h1>

    <form method="post" enctype="multipart/form-data">
            <input id="fileinput" class="btn btn-light" type="file" name="file" accept=".csv">
            <label for="file"></label>

        <input class="btn btn-primary" type="submit" value="Submit">

    </form>

        {{ super() }}



    {% block stripts %}
   <script src="{{ url_for("static", filename="js/home.js") }}"></script>

    {% endblock %}

{% endblock %}
