{% extends "base.html" %}


{% block title %}Job Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for("static", filename="css/job_page.css")}}">
{% endblock %}



{% block content %}
    <div class="job-page">
        <h1 class="job-title">{{ job.title }}</h1>
        <h2 class="job-company">{{ job.company_name }}</h2>
        <a class="apply-now" href="{{ job.application_link }}" target="_blank">Apply Now</a>
        <p class="application-details">Application Details: {{ job.application_details }}</p>

        <h3 class="description-header">Description</h3>
        <p class="job-description">{{ job.job_description }}</p>
    </div>
{% endblock %}
